.c-alumnos__ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.c-alumnos__li{
    border: 1px solid black;
    min-width: 20%;
}
.c-alumnos__form{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:10px;

}
.c-alumnos__select{
    width: 20%;
}
.c-alumnos__span{
    border:1px solid;
}
.c-alumnos__asignaturas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}
.c-alumnos__div{
    border: 1px solid gray;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.c-alumnos__img{
    margin-top: 10px;
    width: 50px;
    height: 50px;
}